@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

:root {
  --COLOR-AMBER-200: #fde68a;
  --COLOR-AMBER-500: #f59e0b;
  --COLOR-AMBER-600: #d97706;

  --COLOR-BRAND: #0d5be1;
  --COLOR-BRAND-LIGHT: #cfdef9;

  --COLOR-CYAN-200: #a5f3fc;
  --COLOR-CYAN-500: #06b6d4;
  --COLOR-CYAN-600: #0891b2;

  --COLOR-LIME-200: #d9f99d;
  --COLOR-LIME-500: #84cc16;
  --COLOR-LIME-600: #65a30d;

  --COLOR-OVERLAY: rgba(51, 65, 85, 0.5);

  --COLOR-RED-50: #fadddd;
  --COLOR-RED-200: #fecaca;
  --COLOR-RED-500: #ef4444;

  --COLOR-SLATE-50: #f8fafc;
  --COLOR-SLATE-300: #cbd5e1;
  --COLOR-SLATE-400: #94a3b8;
  --COLOR-SLATE-600: #475569;
  --COLOR-SLATE-700: #334155;

  --COLOR-WHITE: white;

  font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  object-fit: cover;
}
