@import url("css/main.css");

:root {
  --COLOR-BRAND: var(--COLOR-GLOSSY-BLUE-500);
  --COLOR-BRAND-DARK: var(--COLOR-GLOSSY-BLUE-700);
  --COLOR-BRAND-LIGHT: var(--COLOR-GLOSSY-BLUE-100);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--COLOR-SLATE-50);
  font-size: 1.6rem;
}

/** Container **/

.container {
  color: var(--COLOR-SLATE-700);
  max-width: 100rem;
  padding: 2rem;
}

/** Section **/

.section-component {
  border-top: thin solid var(--COLOR-BRAND-LIGHT);
  margin: 2rem 0;
}

.section-head {
  margin: 2rem 0;
}

.section-text {
  margin: 1rem 0 2rem;
  font-size: 1.7rem;
}
