.bg-amber {
  background: var(--COLOR-AMBER-500);
}

.bg-online {
  background: var(--COLOR-LIME-500);
}

.bg-dnd {
  background: var(--COLOR-RED-500);
}

.bg-offline {
  background: var(--COLOR-SLATE-400);
}
