.ratings {
  border: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.ratings input {
  display: none;
}

.ratings label,
.rating-star {
  color: var(--COLOR-SLATE-300);
  cursor: pointer;
  font-size: 4rem;
  position: relative;
}

.ratings label:hover,
.ratings label:hover ~ label,
.rating-star.filled {
  color: var(--COLOR-AMBER-500);
}

.ratings input:checked ~ label {
  color: var(--COLOR-AMBER-500);
}

.ratings input:checked ~ label:hover,
.ratings input:checked ~ label:hover ~ label {
  color: var(--COLOR-AMBER-400);
}

.half-star {
  width: 1.65rem;
  overflow: hidden;
  transform: translateX(100%);
}
